<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="pane">
    	<div class="header">
			<h1>Restaurants</h1>
        </div>
		
        <div class="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong> {{ message }} </strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

		<a href="{{url_for('newRestaurant')}}">Add New Restaurant</a>

		{% for i in restaurant %}
		<div class="restaurant">
            <div class="nameandprice">
                <span class="name"><p><a href="{{url_for('showMenu', restaurant_id=i.id)}}">{{i.name}}</a></p></span>
            </div>
            
            <div class="editdeletepane price">
                <a href="{{url_for('editRestaurant', restaurant_id=i.id)}}">Edit</a> 
                <a href="{{url_for('deleteRestaurant', restaurant_id=i.id)}}">Delete</a>
            </div>
        </div>
		{% endfor %}
	</div>
</body>

</html>